{% set args = GetTriggeredAct().arguments %}

{% if args.execute_in and args.execute_in != "null" %}
    {% set now = datetime.datetime.fromisoformat(GetDateTime(format="datetime")) %}
    {% set execution_datetime = (now + datetime.timedelta(minutes=args.execute_in | int)).isoformat() %}
{% elif args.execute_at and args.execute_at != "null" %}
    {% set business_tz = zoneinfo.ZoneInfo(GetCustomerAttribute(field="project_business_time_zone").strip()) %}
    {% set execute_at_raw = args.execute_at.strip() %}
    {% set normalized_execute_at = execute_at_raw[:-1] ~ "+00:00" if execute_at_raw.endswith("Z") else execute_at_raw %}
    {% set parsed_datetime = datetime.datetime.fromisoformat(normalized_execute_at) %}

    {% if parsed_datetime.tzinfo is none %}
        {% set parsed_datetime = parsed_datetime.replace(tzinfo=business_tz) %}
    {% endif %}

    {% set execution_datetime = parsed_datetime.astimezone(zoneinfo.ZoneInfo("UTC")).isoformat() %}
{% else %}
    {% set execution_datetime = "asap" %}
{% endif %}

{{Return(val=execution_datetime)}}
