{% set user_phone_number = GetTriggeredAct().arguments.user_phone_number.strip() %}
{% if user_phone_number and not user_phone_number.startswith("+") %}
    {% set user_phone_number = "+" ~ user_phone_number %}
{% endif %}

{% set customer_idn = GetCustomer().idn %}
{% set agent_voice_phone_number = GetCustomerAttribute(field="project_representative_agent_voice_phone_number") %}
{% set agent_creator_actor_id = GetCustomerAttribute(field="agent_creator_actor_id") %}

{% set arguments = {
    "agent_phone_number": agent_voice_phone_number,
    "user_phone_number": user_phone_number,
    "customer_idn": customer_idn
} %}

{{SendCommand(
    commandIdn="send_actor_event",
    integrationIdn="customer_intercom",
    connectorIdn="agent_creator",
    userPersonaId=get_or_create_init_persona_id(),
    toActorId=agent_creator_actor_id,
    eventIdn="first_customer_call_finished",
    eventArguments=json.dumps(arguments, ensure_ascii=False, indent=2)
)}}
