{% set message = json.loads(parameters)[0] %}
{% set user_id = GetUser().id | string %}
{% set actor_id = GetActor().id | string %}
{% set actor_id_normalized = actor_id.replace('-', '') %}
{% set attribute_publish_requested = GetPersonaAttribute(id=user_id, field="attribute_publish_requested_" ~ actor_id_normalized).strip() == "True" %}
{% set checkpoint_id = GetPersonaAttribute(id=user_id, field="checkpoint_id_" ~ actor_id_normalized).strip().replace('-', '') %}
{% if checkpoint_id %}
    {% set has_checkpoint_transaction = false %}
    {% set transaction_metadata = json.loads(get_transaction_metadata(transaction_id='')) %}
    {% for metadata in transaction_metadata.values() %}
        {% if metadata.get("checkpoint_id", "").replace('-', '') == checkpoint_id %}
            {% set has_checkpoint_transaction = true %}
        {% endif %}
    {% endfor %}
    {% if not has_checkpoint_transaction %}
        {{DeletePersonaAttribute(id=user_id, field="checkpoint_" ~ checkpoint_id)}}
        {% set checkpoint_id = "" %}
    {% endif %}
{% endif %}
{{DeletePersonaAttribute(id=user_id, field="last_message_" ~ actor_id_normalized)}}
{{DeletePersonaAttribute(id=user_id, field="depth_counter_" ~ actor_id_normalized)}}
{{DeletePersonaAttribute(id=user_id, field="applied_changes_" ~ actor_id_normalized)}}
{{DeletePersonaAttribute(id=user_id, field="checkpoint_id_" ~ actor_id_normalized)}}
{{DeletePersonaAttribute(id=user_id, field="checkpoint_sequence_" ~ actor_id_normalized)}}
{{DeletePersonaAttribute(id=user_id, field="attribute_publish_requested_" ~ actor_id_normalized)}}
{{DeletePersonaAttribute(id=user_id, field="pending_canvas_review_type_" ~ actor_id_normalized)}}
{{DeletePersonaAttribute(id=user_id, field="pending_canvas_review_item_id_" ~ actor_id_normalized)}}
{{DeletePersonaAttribute(id=user_id, field="inspected_library_types_" ~ actor_id_normalized)}}
{{DeletePersonaAttribute(id=user_id, field="memory_backup_" ~ actor_id_normalized)}}
{{DeletePersonaAttribute(id=user_id, field="already_taken_actions_backup_" ~ actor_id_normalized)}}
{{SendMessage(
    message="<actual_message>" ~ message ~ "</actual_message>" ~ ("<checkpoint_id>" ~ checkpoint_id ~ "</checkpoint_id>" if checkpoint_id else ""),
    actorIds=[GetActor().id| string],
    useFilter=False
)}}
{% if attribute_publish_requested %}
    {{SendSystemEvent(
        eventIdn="project_publish_finish",
        connectorIdn="project",
        triggered_by="attribute_change",
        registry_item_idn="naf",
        global="True"
    )}}
{% endif %}
