{% set user_id = GetUser().id | string %}

{{SetState(name="cached_base_prompt", value="")}}
{{SetState(name="cached_base_prompt_override_version", value="")}}
{{SetState(name="fast_prompt", value="")}}
{{SetState(name="fast_prompt_override_version", value="")}}

{% if session_utils.session_get_current_integration_idn(user_id=user_id) == "newo_voice" %}
    {% set voice_mode = GetCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_mode") %}
    {% if voice_mode in ("voice-to-voice", "speech-to-speech") %}
        {{v2v_update_current_prompt(user_id=user_id)}}
    {% endif %}
{% endif %}
