{% set after_action_options = {
    'prefix': ''
} %}

{% if after_action.options %}
    {{after_action_options.update(after_action.options)}}
{% endif %}

{% if after_action_options.prefix %}
    {% set input = after_action_options.prefix ~ ":
" ~ input %}
{% endif %}

{% set uninterruptible = "True" %}
{% set uninterruptible_raw = after_action_options.uninterruptible %}
{% if uninterruptible_raw is sameas false or (uninterruptible_raw | string | lower) == "false" %}
    {% set uninterruptible = "False" %}
{% elif uninterruptible_raw is sameas true or (uninterruptible_raw | string | lower) == "true" %}
    {% set uninterruptible = "True" %}
{% endif %}

{% set call_analyze_conversation_skill = "False" %}
{% set call_analyze_conversation_skill_raw = after_action_options.call_analyze_conversation_skill %}
{% if call_analyze_conversation_skill_raw is sameas true or (call_analyze_conversation_skill_raw | string | lower) == "true" %}
    {% set call_analyze_conversation_skill = "True" %}
{% endif %}

{% set call_manage_task_skill = "False" %}
{% set call_manage_task_skill_raw = after_action_options.call_manage_task_skill %}
{% if call_manage_task_skill_raw is sameas true or (call_manage_task_skill_raw | string | lower) == "true" %}
    {% set call_manage_task_skill = "True" %}
{% endif %}

{{system_utils.send_system_log(message="```
" ~ input ~ "
``` was sent as urgent message")}}
{{SendSystemEvent(
    eventIdn="urgent_message",
    connectorIdn="system",
    baseInstruction=input,
    uninterruptible=uninterruptible,
    callAnalyzeConversationSkill=call_analyze_conversation_skill,
    callManageTaskSkill=call_manage_task_skill
)}}
