{% set user_id = GetUser().id | string %}
{% set actor_id_normalized = (GetActor().id | string).replace('-', '') %}
{% set persona_field = "transaction_metadata_" ~ actor_id_normalized %}
{% set metadata_raw = GetPersonaAttribute(id=user_id, field=persona_field).strip() %}
{% set metadata = {} %}

{% if metadata_raw %}
    {% set metadata = json.loads(metadata_raw) %}
{% endif %}

{% if transaction_id %}
    {% set transaction_key = transaction_id.replace('-', '') %}
    {% if transaction_key in metadata %}
        {{Return(val=json.dumps(metadata[transaction_key], ensure_ascii=False, indent=2))}}
    {% else %}
        {{Return(val=json.dumps({}, ensure_ascii=False, indent=2))}}
    {% endif %}
{% else %}
    {{Return(val=json.dumps(metadata, ensure_ascii=False, indent=2))}}
{% endif %}
