{% set validated_greeting = session_get_validated_returning_greeting(user_id=user_id) %}
{% set command %}Greet the user and tell exactly this:
> {{greeting_phrase.strip() or validated_greeting.strip() or GetCustomerAttribute(field="project_attributes_private_dynamic_voice_greeting_phrase")}}{% endset %}

{{v2v_send_command(command=command, user_id=user_id, last_convo_actor_id=last_convo_actor_id)}}
