{% set act = GetTriggeredAct() %}
{% set message = act.arguments.transcript %}

{% if not message or not message.strip() %}
    {{_utilsSendSystemLogSkill(message="User message is empty, skipping sending.")}}
    {{Return()}}
{% endif %}

{% set user_id = GetUser().id | string %}
{% set actor_id = _utilsGetOrSetLastConvoActorId(userId=user_id) %}
{{CreateMessageAct(text=message, from="user", userActorId=actor_id)}}

{{SendSystemEvent(
    eventIdn="extend_session",
    connectorIdn="system"
)}}
