{% set canvas_attribute_idns = [
    "project_attributes_private_dynamic_ami_template",
    "project_attributes_private_dynamic_ami_compiled",
    "project_attributes_private_dynamic_itm_template",
    "project_attributes_private_dynamic_itm_compiled",
    "project_attributes_private_dynamic_itm_non_working_hours_compiled",
    "project_attributes_private_dynamic_itm_working_hours_compiled",
    "project_attributes_private_dynamic_intents_list",
    "project_attributes_private_dynamic_workflow_builder_canvas",
    "project_attributes_private_dynamic_workflow_builder_canvas_library",
    "project_attributes_private_dynamic_workflow_builder_canvas_library_custom"
] %}
{{Return(val=json.dumps(canvas_attribute_idns, ensure_ascii=False, indent=2))}}
