{% if broadcast_process_id and broadcast_process_id|trim %}
    {% set broadcast_statuses = GetPersonaAttribute(id=user_id, field="broadcast_processes_status") %}
    {% if broadcast_statuses or broadcast_statuses == "{}" %}
        {% set broadcast_statuses_loaded = json.loads(broadcast_statuses) %}
    {% else %}
        {% set broadcast_statuses_loaded = {} %}
    {% endif %}

    {% set _ = broadcast_statuses_loaded.update({broadcast_process_id|trim: status}) %}

    {{ SetPersonaAttribute(id=user_id, field="broadcast_processes_status", value=json.dumps(broadcast_statuses_loaded, indent=2, ensure_ascii=False)) }}
{% endif %}
