{{Return(val=common_utils.normalize_phone(
    characters_to_keep=characters_to_keep,
    characters_to_remove=characters_to_remove,
    input_type=input_type,
    replacement=replacement,
    substrings_to_remove_json=substrings_to_remove_json,
    value=value
))}}
