{# If using tools are currently activated, we skip resetting #}
{% if GetCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider_genai_functions_enabled") == "True" %}
    {{ Return() }}
{% endif %}

{% set old_default_genai_functions %}
[
  {
    "name": "send_full_name",
    "description": "Send full name",
    "parameters": {
      "properties": {
        "first_name": {
          "description": "First name",
          "type": "STRING"
        },
        "last_name": {
          "description": "Last name",
          "type": "STRING"
        }
      },
      "required": ["first_name", "last_name"],
      "type": "OBJECT"
    }
  },
  {
    "name": "send_phone_number",
    "description": "Send phone number",
    "parameters": {
      "properties": {
        "phone_number": {
          "description": "Phone number",
          "type": "STRING"
        }
      },
      "required": ["phone_number"],
      "type": "OBJECT"
    }
  },
  {
    "name": "send_email",
    "description": "Send email",
    "parameters": {
      "properties": {
        "email": {
          "description": "Email",
          "type": "STRING"
        }
      },
      "required": ["email"],
      "type": "OBJECT"
    }
  },
  {
    "name": "send_appointment_type",
    "description": "Send appointment type",
    "parameters": {
      "properties": {
        "appointment_type": {
          "description": "Email",
          "type": "STRING"
        }
      },
      "required": ["appointment_type"],
      "type": "OBJECT"
    }
  },
  {
    "name": "send_date_and_time",
    "description": "Send date and time",
    "parameters": {
      "properties": {
        "date_and_time": {
          "description": "Date and time",
          "type": "STRING"
        }
      },
      "required": ["date_and_time"],
      "type": "OBJECT"
    }
  },
  {
    "name": "send_number_of_people",
    "description": "Send number of people",
    "parameters": {
      "properties": {
        "number_of_people": {
          "description": "Number of people",
          "type": "STRING"
        }
      },
      "required": ["number_of_people"],
      "type": "OBJECT"
    }
  },
  {
    "name": "send_date_of_birth",
    "description": "Send date of birth",
    "parameters": {
      "properties": {
        "date_of_birth": {
          "description": "Date of birth",
          "type": "STRING"
        }
      },
      "required": ["date_of_birth"],
      "type": "OBJECT"
    }
  },
  {
    "name": "send_company_name",
    "description": "Send company name",
    "parameters": {
      "properties": {
        "company_name": {
          "description": "Company name",
          "type": "STRING"
        }
      },
      "required": ["company_name"],
      "type": "OBJECT"
    }
  },
  {
    "name": "send_website_link",
    "description": "Send website link",
    "parameters": {
      "properties": {
        "website_link": {
          "description": "Website link",
          "type": "STRING"
        }
      },
      "required": ["website_link"],
      "type": "OBJECT"
    }
  }
]
{% endset %}

{% set old_default_genai_functions_description %}**GLOBAL FUNCTIONS / TOOLS APPLICABLE TO ALL SCENARIOS / PROCEDURES:**
- Send full name as soon as the User is providing it verbally using the function (tool) called `send_full_name`.
- Send phone number as soon as the User is providing it verbally using the function (tool) called `send_phone_number`.
- Send email as soon as the User is providing it verbally using the function (tool) called `send_email`.
- Send appointment type as soon as the User is providing it verbally using the function (tool) called `send_appointment_type`.
- Send date and time as soon as the User is providing it verbally using the function (tool) called `send_date_and_time`.
- Send number of people as soon as the User is providing it verbally using the function (tool) called `send_number_of_people`.
- Send date of birth as soon as the User is providing it verbally using the function (tool) called `send_date_of_birth`.
- Send company name as soon as the User is providing it verbally using the function (tool) called `send_company_name`.
- Send website as soon as the User is providing it verbally using the function (tool) called `send_website_link`.{% endset %}
{% set new_default_genai_functions = "[]" %}
{% set old_header_only_genai_functions_description = "**GLOBAL FUNCTIONS / TOOLS APPLICABLE TO ALL SCENARIOS / PROCEDURES:**" %}
{% set new_default_genai_functions_description = " " %}

{% if GetCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider_genai_functions").strip() == old_default_genai_functions.strip() %}
    {{SetCustomerAttribute(
        field="project_attributes_setting_voice_integration_service_voice_to_voice_provider_genai_functions",
        value=new_default_genai_functions
    )}}
{% endif %}

{% set current_genai_functions_description = GetCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider_genai_functions_description").strip() %}
{% if current_genai_functions_description == old_default_genai_functions_description or current_genai_functions_description == old_header_only_genai_functions_description %}
    {{SetCustomerAttribute(
        field="project_attributes_setting_voice_integration_service_voice_to_voice_provider_genai_functions_description",
        value=new_default_genai_functions_description
    )}}
{% endif %}
