{% set actor_id = GetActors(personaId=userId)[0].id | string %}
{% set recompile_override_active = GetPersonaAttribute(id=userId, field="outbound_recompile_override_active").strip() %}
{% set task_id = taskId.strip() %}

{% if recompile_override_active == "True" %}
    {{SendSystemEvent(
        eventIdn="convoagent_recompile",
        connectorIdn="system",
        actorIds=[actor_id],
        introduction="",
        intent_types="",
        scenarios="",
        procedures=""
    )}}
{% endif %}
{{SetPersonaAttribute(id=userId, field="outbound_recompile_override_active", value="False")}}

{{SendSystemEvent(
    eventIdn="remove_prompt_custom_section",
    connectorIdn="system",
    actorIds=[actor_id],
    sectionName="OutboundCallContext"
)}}

{{SetPersonaAttribute(id=userId, field="sms_send_information_allowed_dynamic_content", value="")}}
{{SetPersonaAttribute(id=userId, field="email_send_information_allowed_dynamic_content", value="")}}
{{SetPersonaAttribute(id=userId, field="outbound_call", value="False")}}

{% if task_id %}
    {% set outbound_call_context = GetPersonaAttribute(id=userId, field="outbound_call_context").strip() %}
    {% if outbound_call_context %}
        {% set current_outbound_context = json.loads(outbound_call_context) %}
        {% if current_outbound_context.get(task_id) %}
            {% set _ = current_outbound_context.pop(task_id) %}
            {{SetPersonaAttribute(id=userId, field="outbound_call_context", value=json.dumps(current_outbound_context, ensure_ascii=False, indent=2))}}
        {% endif %}
    {% endif %}
{% endif %}

{{SendSystemEvent(
    eventIdn="convoagent_remove_custom_user_data",
    connectorIdn="system",
    actorIds=[actor_id],
    sectionName="UserData OCC"
)}}
