{% set user_id = GetUser().id | string %}

{% if GetPersonaAttribute(id=user_id, field="outbound_call") != "True" %}
    {{Return()}}
{% endif %}

{% set arguments = GetTriggeredAct().arguments %}

{% if arguments.referenceIdn != "make_call" %}
    {{Return()}}
{% endif %}

{% set task_id = GetState(name="task_id") %}

{% set reason = arguments.reason %}

{{SendCommand(
    commandIdn="set_timer",
    integrationIdn="program_timer",
    connectorIdn="outbound_timer",
    eventIdn="call_deadline_exceeded",
    timerName="deadline_timer_" ~ task_id,
    personaId=user_id,
    interval="1",
    enabled="False"
)}}

{% if reason == "active-call-by-number-limit" %}
    {{remove_active_call_from_akb(task_id=task_id)}}
    {{_updateTaskManagerStatusSkill(taskId=task_id, status="canceled", comment="The number of calls to the same number has been exceeded. Cancel task execution.")}}

    {% set payload = {"phone_number": GetPersonaAttribute(id=user_id, field="outbound_original_phone_number"), "status": "error", "call_ended_reason": reason, "task_id": task_id, "user_id": user_id} %}

    {{_sendWebhookResultSkill(taskId=task_id, userId=user_id, payload=json.dumps(payload, ensure_ascii=False, indent=2))}}
    {{_updateCallTableSkill(recording="-", reason="error", userId=user_id, summary="The number of calls to the same number has been exceeded. Cancel task execution.", taskId=task_id)}}
    {{_cleanUpSkill(userId=user_id, taskId=task_id)}}
    {{try_start_scheduled_call()}}

{% elif reason in ("active-calls-by-time-limit", "total-calls-by-time-limit") %}
    {{remove_active_call_from_akb(task_id=task_id)}}

    {% set default_attempt_number = GetCustomerAttribute(field="project_attributes_setting_outbound_default_retry_number") %}
    {% set attempts_number = (GetState(name="attempts_number") | int + 1) | string %}
    {{SetState(name="attempts_number", value=attempts_number)}}
    {{_setupRetrySkill(
        comment="Call could not start because the voice provider call limit was reached.",
        attemptNumber=attempts_number,
        taskId=task_id,
        userId=user_id,
        recording="-",
        reason=reason
    )}}
    {% if attempts_number | int < default_attempt_number | int %}
        {{_cleanUpSkill(userId=user_id)}}
    {% endif %}
{# Telnyx specific case#}
{% elif arguments.message == "486 User Busy" %}
    {{remove_active_call_from_akb(task_id=task_id)}}

    {% set default_attempt_number = GetCustomerAttribute(field="project_attributes_setting_outbound_default_retry_number") %}
    {% set attempts_number = (GetState(name="attempts_number") | int + 1) | string %}
    {{SetState(name="attempts_number", value=attempts_number)}}
    {{_setupRetrySkill(comment="Call finished because " ~ arguments.message, attemptNumber=attempts_number, taskId=task_id, userId=user_id, recording="-", reason="customer-did-not-answer")}}
    {% if attempts_number | int < default_attempt_number | int %}
        {{_cleanUpSkill(userId=user_id)}}
    {% endif %}
{% else %}
    {{remove_active_call_from_akb(task_id=task_id)}}

    {% set error_message = arguments.message or "-" %}
    {% set payload = {"phone_number": GetPersonaAttribute(id=user_id, field="outbound_original_phone_number"), "status": "error", "call_ended_reason":
    "unknown", "task_id": task_id, "user_id": user_id} %}

    {{_updateTaskManagerStatusSkill(taskId=task_id, status="failed", comment="Failed to start call. Additional info: " ~ error_message)}}
    {{_sendWebhookResultSkill(taskId=task_id, userId=user_id, payload=json.dumps(payload, ensure_ascii=False, indent=2))}}
    {{_updateCallTableSkill(recording="-", userId=user_id, reason="error", summary="Error occurred, reason unknown. Additional info: " ~ error_message, taskId=task_id)}}
    {{_cleanUpSkill(userId=user_id, taskId=task_id)}}
    {{try_start_scheduled_call()}}
{% endif %}
