{% set user_id = GetUser().id | string %}
{% set actor_id_normalized = (GetActor().id | string).replace('-', '') %}
{% set persona_field = "applied_changes_" ~ actor_id_normalized %}
{% set change_key = change_id.replace('-', '') %}
{% set applied_changes_raw = GetPersonaAttribute(id=user_id, field=persona_field).strip() %}
{% set applied_changes = {} %}

{% if applied_changes_raw %}
    {% set applied_changes = json.loads(applied_changes_raw) %}
{% endif %}

{% if change_key %}
    {{applied_changes.update({
        change_key: json.loads(change)
    })}}

    {{SetPersonaAttribute(
        id=user_id,
        field=persona_field,
        value=json.dumps(applied_changes, ensure_ascii=False, indent=2)
    )}}
{% endif %}
