{% set language_instructions = agent_instructions.get_language_instructions(
    include_primary_language="False",
    include_code_phrase_instructions="False",
    include_current_task_analysis_instructions="False",
    user_id=user_id
) %}

{% set additional_global_conversation_instruction = GetCustomerAttribute(field="project_attributes_setting_additional_global_conversation_instruction").strip() %}

{% if additional_global_conversation_instruction %}
    {% set additional_global_conversation_instruction %}

> [!IMPORTANT]
{{additional_global_conversation_instruction}}
{% endset %}
{% endif %}

{% set thoughts_compiled %}These are your thoughts, not the user’s input.

{{language_instructions}}
> There are might be **code-phrases** or suggested quotes mentioned below. These **code-phrases** might be in English, but you must always say them unmistakably in the language the user is speaking to you. Even if the instructions say to use them **exactly**, you must use only the user’s language. If you say them in a different language from the one the user is currently speaking, it is a complete failure.

> [!WARNING]
> The instructions below can be late for one or more conversation turns. It should be used just to align your current scope.{{additional_global_conversation_instruction}}

---

{{thoughts}}{% endset %}

{{Return(val=thoughts_compiled)}}