{% set parameters = json.loads(parameters) %}
{% set idn = parameters[0] %}
{% set val = parameters[1] %}
{# Guard against LLM hallucinating the user-facing placeholder shown in <thinking> blocks as a real value. #}
{% if val == "[No value]" %}
    {% set val = "" %}
{% endif %}
{% set user_id = GetUser().id | string %}
{% set actor_id = GetActor().id | string %}
{% set actor_id_normalized = actor_id.replace('-', '') %}
{% set prev_val_original = GetCustomerAttribute(field=idn) %}
{% set prev_val_display = prev_val_original.strip() or '[No value]' %}
{% if prev_val_original != val %}
    {{execute_set_attribute(idn=idn, val=val)}}
    {{SetPersonaAttribute(id=user_id, field="attribute_publish_requested_" ~ actor_id_normalized, value="True")}}

    {% set thoughts = 'I have just updated the `' ~ idn ~ '` attribute.\n' %}
    {% set thoughts = thoughts ~ '<old_value>\n' ~ prev_val_display ~ '\n</old_value>\n\n<new_value>\n' ~ val ~ '\n</new_value>' %}
    {% set transaction = [{
        "revert_action": "execute_set_attribute",
        "revert_action_parameters": {"idn": idn, "val": prev_val_original}
    }] %}
    {% set applied_change = {
        "action": "set_attribute",
        "summary": "Updated attribute `" ~ idn ~ "`.",
        "details": {
            "idn": idn,
            "old_value": prev_val_original,
            "new_value": val
        }
    } %}
    {{add_transaction(transaction_id=transaction_id, transaction=json.dumps(transaction, ensure_ascii=False, indent=2))}}
    {{add_applied_change(change_id=transaction_id, change=json.dumps(applied_change, ensure_ascii=False, indent=2))}}
    {{SendMessage(message='<thinking>\n' ~ thoughts ~ '\n</thinking>', actorIds=[actor_id], useFilter=False)}}
    {{already_taken_actions.append(thoughts)}}
{% else %}
    {{SendMessage(message='<thinking>\nThe `' ~ idn ~ '` attribute is already set to ```' ~ val ~ '```\n</thinking>', actorIds=[actor_id], useFilter=False)}}
    {{already_taken_actions.append('The `' ~ idn ~ '` attribute is already set to ```' ~ val ~ '```')}}
{% endif %}

{{main(memory=memory, already_taken_actions=already_taken_actions)}}


