{{utils_connector_set_setting_if_exists(
    integrationIdn = "newo_voice",
    connectorIdn = "newo_voice_connector",
    field = "openai_v2v_model",
    value = "gpt-realtime-1.5"
)}}

{{utils_connector_set_setting_if_exists(
    integrationIdn = "newo_voice",
    connectorIdn = "newo_voice_connector_web",
    field = "openai_v2v_model",
    value = "gpt-realtime-1.5"
)}}
