{# ? TODO: Setup remaining settings #}

{% set client_website_url = utils_get_platform_client_website_url() %}
{% if not client_website_url.strip() %}
    {{Return()}}
{% endif %}

{% set customer_info = GetCustomerInfo() %}
{% set platform_links = customer_info.platform_links %}
{% set builder_link = platform_links.builder %}
{% if not builder_link %}
    {{Return()}}
{% endif %}

{% if "dev" in builder_link %}
    {% set widget_source_url = "https://workflow-builder-widget.dev.newo.ai" %}
{% elif "qa" in builder_link %}
    {% set widget_source_url = "https://workflow-builder-widget.qa.newo.ai" %}
{% elif "stg" in builder_link %}
    {% set widget_source_url = "https://workflow-builder-widget.stg.newo.ai" %}
{% else %}
    {% set widget_source_url = "https://workflow-builder-widget.newo.ai" %}
{% endif %}

{{utils_connector_create_if_not_exists(
    integrationIdn = "newo_chat",
    connectorIdn = "workflow_builder",
    title = "workflow_builder",
    settings = {
        "client_website_url": client_website_url,
        "widget_idn": "workflow_builder",
        "widget_source_url": widget_source_url,
        "widget_type": "internal"
    },
    start = True
)}}
