{# Important: We must guarantee that Agent will be ready to be used before sending an event to Agent Creator #}

{% set customer_idn = GetCustomer().idn %}
{% set agent_creator_actor_id = GetCustomerAttribute(field="agent_creator_actor_id") %}

{% set skip_init = GetTriggeredAct().arguments.skip_init %}
{% if skip_init == "True" %}
    {% set arguments = {
        "customer_idn": customer_idn,
        "incoming_webhook": GetWebhook(webhookIdn="outbound_call_webhook", webhookType="incoming").url | string,
        "agent_creator_webhook": GetWebhook(webhookIdn="agent_creator_webhook", webhookType="incoming").url | string
    } %}
{% else %}
    {% set agent_voice_phone_number = GetCustomerAttribute(field="project_representative_agent_voice_phone_number") %}

    {# TODO: Define whether we need to send this command during `demo_init` #}
    {{SendCommand(
        commandIdn="onboarding_setup",
        integrationIdn="api",
        connectorIdn="webhook",
        phoneNumber=agent_voice_phone_number,
        creatorActorId=agent_creator_actor_id,
        customerIdn=customer_idn
    )}}

    {% set newo_chat_connector_info = GetConnectorInfo(integrationIdn="newo_chat", connectorIdn="newo_chat")%}
    {% set widget_script_url = "" %}
    {% if newo_chat_connector_info %}
        {% set widget_script_url = newo_chat_connector_info.settings.widget_script_url | string %}
    {% endif %}

    {% set arguments = {
        "phone_number": agent_voice_phone_number,
        "customer_idn": customer_idn,
        "incoming_webhook": GetWebhook(webhookIdn="outbound_call_webhook", webhookType="incoming").url | string,
        "agent_creator_webhook": GetWebhook(webhookIdn="agent_creator_webhook", webhookType="incoming").url | string,
        "webrtc_connector_idn": "newo_voice_connector_web"
    } %}

    {% if widget_script_url %}
        {{arguments.update({"widget_script": widget_script_url})}}
    {% endif %}
{% endif %}

{{SendCommand(
    commandIdn="send_actor_event",
    integrationIdn="customer_intercom",
    connectorIdn="agent_creator",
    userPersonaId=get_or_create_init_persona_id(),
    toActorId=agent_creator_actor_id,
    eventIdn="create_customer_finished",
    eventArguments=json.dumps(arguments, ensure_ascii=False, indent=2)
)}}
