{% if GetState(name="skip_init_was_completed") == "True" %}
    {{Return()}}
{% endif %}

{# Setup `API Integration` Connectors #}
{{prepare_connectors_api_integration_setup()}}

{# Setup `Customer Intercom Integration` Connectors #}
{{prepare_connectors_customer_intercom_integration()}}

{{send_agent_creator_callback_event(skip_init="True")}}

{{SetState(name="skip_init_was_completed", value="True")}}
