{# Build cached prompt in case it doesn't exist #}
{% set cached_prompt = GetState(name="cached_base_prompt") %}
{% set current_override_version = GetPersonaAttribute(id=user_id, field="convoagent_recompile_override_version").strip() %}
{% set cached_prompt_override_version = GetState(name="cached_base_prompt_override_version").strip() %}
{% if not cached_prompt.strip() or cached_prompt_override_version != current_override_version %}
    {% set cached_prompt = prompt_build_base(user_id=user_id) %}
    {{SetState(name="cached_base_prompt", value=cached_prompt)}}
    {{SetState(name="cached_base_prompt_override_version", value=current_override_version)}}
{% endif %}

{{Return(val=cached_prompt)}}
