{% set key_directives %}<CurrentTaskAnalysis alt="analysis of the current task, which may be slightly outdated" role="instructions">
{{thoughts}}
</CurrentTaskAnalysis>{% endset %}


{{v2v_add_context(turn=key_directives, actor_id=last_convo_actor_id)}}
