{% set current_email_value = GetCustomerAttribute(field="project_attributes_setting_email_send_information_allowed_content") %}
{% set updated_email_value = current_email_value
    .replace("service - [address]", "service - [user's requested service]")
    .replace("address - [address]", "address - [user's physical address]")
%}

{% if updated_email_value != current_email_value %}
    {{SetCustomerAttribute(field="project_attributes_setting_email_send_information_allowed_content", value=updated_email_value)}}
{% endif %}

{% set current_sms_value = GetCustomerAttribute(field="project_attributes_setting_sms_send_information_allowed_content") %}
{% set updated_sms_value = current_sms_value
    .replace("service - [address]", "service - [user's requested service]")
    .replace("address - [address]", "address - [user's physical address]")
%}

{% if updated_sms_value != current_sms_value %}
    {{SetCustomerAttribute(field="project_attributes_setting_sms_send_information_allowed_content", value=updated_sms_value)}}
{% endif %}
