{% set content_json = {
  "reports": [
    {
      "report_type": "[T] User Inquiry",
      "fields": [
        "User name",
        "User phone",
        "40-word summary"
      ],
      "subject_template": "[T] USER INQUIRY: [user name] [user phone] [6-word additional summary]",
      "sms_template": "[T] USER INQUIRY: [user name] [user phone] [20-word additional summary] Truly, [agent name], [agent title]"
    },
    {
      "report_type": "[L] Booking via Link",
      "fields": [
        "User name",
        "User phone",
        "40-word summary"
      ],
      "subject_template": "[L] BOOKING VIA LINK: [user name] [user phone] [6-word additional summary]",
      "sms_template": "[L] BOOKING VIA LINK: [user name] [user phone] [20-word additional summary] Truly, [agent name], [agent title]"
    },
    {
      "report_type": "[L] Purchase via Link",
      "fields": [
        "User name",
        "User phone",
        "40-word summary"
      ],
      "subject_template": "[L] PURCHASE VIA LINK: [user name] [user phone] [6-word additional summary]",
      "sms_template": "[L] PURCHASE VIA LINK: [user name] [user phone] [20-word additional summary] Truly, [agent name], [agent title]"
    },
    {
      "report_type": "General Information Request",
      "fields": [
        "User name",
        "User phone",
        "40-word summary"
      ],
      "subject_template": "GENERAL INFORMATION REQUEST: [user name] [user phone] [6-word additional summary]",
      "sms_template": "GENERAL INFORMATION REQUEST: [user name] [user phone] [20-word additional summary] Truly, [agent name], [agent title]"
    },
    {
      "report_type": "[T] Manager or Human Request",
      "fields": [
        "User name",
        "User phone",
        "40-word summary"
      ],
      "subject_template": "[T] MANAGER OR HUMAN REQUEST: [user name] [user phone] [6-word additional summary]",
      "sms_template": "[T] MANAGER OR HUMAN REQUEST: [user name] [user phone] [20-word additional summary] Truly, [agent name], [agent title]"
    },
    {
      "report_type": "Spam Session",
      "fields": [
        "User name",
        "User phone",
        "40-word summary"
      ],
      "subject_template": "SPAM SESSION: [user name] [user phone] [6-word additional summary]",
      "sms_template": "SPAM SESSION: [user name] [user phone] [20-word additional summary] Truly, [agent name], [agent title]"
    },
    {
      "report_type": "Test Session",
      "fields": [
        "User name",
        "User phone",
        "40-word summary"
      ],
      "subject_template": "TEST SESSION: [user name] [user phone] [6-word additional summary]",
      "sms_template": "TEST SESSION: [user name] [user phone] [20-word additional summary] Truly, [agent name], [agent title]"
    }
  ]
} %}

{{Return(val=json.dumps(content_json, ensure_ascii=False, indent=2))}}
