{% set industry = GetCustomerAttribute(field="project_business_industry") %}
{% if industry != "sales_industry" %}
    {{Return()}}
{% endif %}

{% set updated_content = 'Business Details link if agent mentions sending content that is not listed' %}

{% set current_sms_content_items = GetCustomerAttribute(field="project_attributes_setting_sms_send_information_allowed_content_items") %}
{{SetCustomerAttribute(field="project_attributes_setting_sms_send_information_allowed_content_items", value=current_sms_content_items.replace('Business Details link if no other content is relevant for promised SMS', updated_content))}}

{% set current_sms_content = GetCustomerAttribute(field="project_attributes_setting_sms_send_information_allowed_content") %}
{{SetCustomerAttribute(field="project_attributes_setting_sms_send_information_allowed_content", value=current_sms_content.replace('Business Details link if no other content is relevant for promised SMS', updated_content))}}

{% set current_email_content_items = GetCustomerAttribute(field="project_attributes_setting_email_send_information_allowed_content_items") %}
{{SetCustomerAttribute(field="project_attributes_setting_email_send_information_allowed_content_items", value=current_email_content_items.replace('Business Details link if no other content is relevant for promised email', updated_content))}}

{% set current_email_content = GetCustomerAttribute(field="project_attributes_setting_email_send_information_allowed_content") %}
{{SetCustomerAttribute(field="project_attributes_setting_email_send_information_allowed_content", value=current_email_content.replace('Business Details link if no other content is relevant for promised email', updated_content))}}
